.fa-laptop-code {
	padding-right: 10px;
}
.navbar-brand {
	font-size: 1.5em;
}
.panel-default {
	margin: 0 10px;
}
.panel-title {
	padding: 20px 0 20px 10px;
}
.right {
	text-align: right;
	font-weight: 700;
}
.btn {
	margin-left: -10px;
}