.fa-laptop-code {
	padding-right: 10px;
}
.navbar-brand {
	font-size: 1.5em;
}
.panel-default {
	margin: 0 10px;
}
.panel-title {
	padding: 20px 0 20px 10px;
}
.right {
	text-align: right;
	font-weight: 700;
}
.btn {
	margin-left: -10px;
}
.panel-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.tooltip {
	position: relative;
	display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -50px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.label-red {
	background-color: red;
	font-size: 0.8em;
	padding: 2px;
	font-weight: 900;
}
.label-green {
	background-color: green;
	font-size: 0.8em;
	padding: 2px;
	font-weight: 900;
}
.label-blue {
	background-color: blue;
	font-size: 0.8em;
	padding: 2px;
	font-weight: 900;