h1 {
	text-align: center;
	margin-top: 1em;
}
.nav-title {
	padding: 0 .5em;
}
.panel-body {
	padding: 1em;
}
.btn-evento {
	margin-top: 20px;
}
input {
	margin-left: 10px;
}
.navbar-brand {
	font-size: 1.5em;
}
.cards-eventos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 3em;
	padding: 0 2em;
}
.card-item {
	width: 540px;
	margin: 20px 0;
	border: 1px solid gray;
	border-radius: 2%;
}
.card-item:first-child {
	padding: 0;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn-card {
	margin-top: 15px;
}
.icons {
	font-weight: 900;
}
.aviso-central {
	text-align: center;
}