h1 {
	text-align: center;
	margin-top: 1em;
}
.nav-title {
	padding: 0 .5em;
}
.panel-body {
	padding: 1em;
}
.btn-evento {
	margin-top: 20px;
}
input {
	margin-left: 10px;
}
.navbar-brand {
	font-size: 1.5em;
}
.cards-eventos {
	display: flex;
	justify-content: space-around;
	margin: 3em 1em;
}
.card-img {
  width: 115px;
  height: 200px;
  object-fit: cover;
}
.text-right {
	text-align: right;
}
/* .panel-default { */
/* 	margin: 0 10px; */
/* } */
/* .panel-title { */
/* 	padding: 20px 0 20px 10px; */
/* } */
/* .tooltip { */
/* 	position: relative; */
/* 	display: inline-block; */
/* } */
/* .tooltip .tooltiptext { */
/*   visibility: hidden; */
/*   width: 100px; */
/*   background-color: black; */
/*   color: #fff; */
/*   text-align: center; */
/*   border-radius: 6px; */
/*   padding: 5px 0; */
/*   position: absolute; */
/*   z-index: 1; */
/*   bottom: 100%; */
/*   left: 50%; */
/*   margin-left: -50px; */
/* } */
/* .tooltip:hover .tooltiptext { */
/*   visibility: visible; */
/* } */
/* .label-red { */
/* 	background-color: red; */
/* 	font-size: 0.8em; */
/* 	padding: 2px; */
/* 	font-weight: 900; */
/* } */
/* .label-green { */
/* 	background-color: green; */
/* 	font-size: 0.8em; */
/* 	padding: 2px; */
/* 	font-weight: 900; */
/* } */
/* .label-blue { */
/* 	background-color: blue; */
/* 	font-size: 0.8em; */
/* 	padding: 2px; */
/* 	font-weight: 900; */