h1 {
	text-align: center;
	margin-top: 1em;
}
.nav-title {
	padding: 0 .5em;
}
.panel-body {
	padding: 1em;
}
.btn-evento {
	margin-top: 20px;
}
input {
	margin-left: 10px;
}
.navbar-brand {
	font-size: 1.5em;
}
.cards-eventos {
	display: flex;
	flex-wrap: wrap;
	margin-top: 3em;
	padding: 0 2em;
}
.card-item {
	padding: 0 2em;
}
.card-item:first-child {
	padding: 0;
}
.card-img {
  width: 115px;
  height: 200px;
  object-fit: cover;
}
/* .panel-default { */
/* 	margin: 0 10px; */
/* } */
/* .panel-title { */
/* 	padding: 20px 0 20px 10px; */
/* } */
.icons {
	font-weight: 900;
}
.aviso-central {
	text-align: center;
}