body {
	margin: 0;
	padding: 0;
	background-color: #1b1b1b;
	color: #F0F0F0;
	font-family: 'Roboto', sans-serif;
}

/* Barra de navegação*/

nav {
	width: 100%;
	background-color: #F0F0F0;
	color: #1b1b1b;
	position: fixed;
	top: 0;
	left: 0;
	font-family: 'Krona One', sans-serif;
}
p {
	margin: 0;
	padding: 0;
}
.nav-header {
	padding: 1em 2em;
	display: flex;
	align-items: center;
}
.fa-file-invoice {
	font-size: 1.5em;
	padding-right: 0.7em;
}
.nav-title {
	display: inline;
}

/* Layout geral */

.container-form {
	margin: 150px 90px;
	border: 5px solid white;
}
.form-group {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
}
.form-1 {
	width: 25%;
	margin: 1em 0;
}
.form-2 {
	width: 70%;
	margin: 1em 0;
}
.btn {
	margin: 2em auto;
	padding: 0.5em 2em;
	background-color: orange;
	color: black;
	font-weight: 700;
}
.panel {
	display: flex;
	justify-content: space-between;
	background-color: grey;
	border-bottom: 5px solid white;
	padding: 1em;
	color: black;
}
.internal-title {
	font-size: 1.2em;
	font-weight: 700;
}
.back-search {
	text-decoration: none;
	color: black;
	font-weight: 700;
}
.form-column {
	padding: 0 5px;
}
.success {
	padding: 20px;
	background-color: teal;
	color: black;
	font-weight: 700;
	text-align: center;
}
.fail {
	padding: 10px;
	color: orange;
	font-weight: 900;
	text-align: center;
	font-size: .8em;
}
.container-search {
	padding: 1em;
}
.search-box {
	margin: 1em;
}
.search-input {
	padding: .8em;
	width: 30%;
}
.btn-2 {
	font-weight: 900;
	padding: 0.8em;
	border: none;
	background: none;
	color: orange;
	font-size: 1.2em;
}
table {
	border: 2px solid white;
	width: 100%;
}
td {
	padding: .5em 0;
}
.table-title {
	padding: 1em;
}
.column-1 {
	width: 10%;
}
.column-2, .column-3, .column-6 {
	width: 20%;
}
.column-4, .column-5 {
	width: 15%;
}
.no-data {
	white-space: nowrap;
	padding-left: 1em;
	color: orange;
	font-weight: 700;
}
.label-red {
	color: black;
	background-color: orange;
	font-weight: 900;
	font-size: 0.8em;
	padding: 3px;
}
.label-green {
	color: black;
	background-color: teal;
	font-weight: 900;
	font-size: 0.8em;
	padding: 3px;
}
.table-center {
	text-align: center;
}
.table-left {
	text-align: left;
}
.table-right {
	text-align: right;
}
.has-error {
	border: orange solid 3px;
}
.edit, .remove {
	padding: 0 .5em;
}
.tooltip {
	position: relative;
	display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -50px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
#myModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.3);
}
.modal-content {
  background-color: orange;
  margin: 15% auto;
  padding-top: 0.6em;
  color: #000;
  width: 30%;
  border-radius: 2%;
}
.modal-title {
	display: flex;
	justify-content: space-between;
}
.modal-text {
	padding: .6em .8em;
	font-weight: 900;
	font-size: 1.2em;
}
.modalBtn {
	display: flex;
	justify-content: space-between;
	padding: 1em;
}
.modal-btn-no, .modal-btn-yes {
	padding: .8em 1em;
	border-radius: 25%;
	font-weight: 900;
}
.modal-btn-no {
	background-color: transparent;
	color: black;
	border-color: black;
}
.close {
  color: #000;
  font-size: 2rem;
  font-weight: 900;
  padding-right: .6em;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

@media (max-width: 700px) {
	.container-form {
		margin: 170px 0 0;
		border: 0;
		font-size: 20px;
	}
	.form-column {
		padding: 0;
	}
	.form-group {
		padding: 1em;
	}
	.form-1, .form-2 {
		width: 100%;
		margin: .8em 0;
	}
	.container-search {
		padding: 0;
		text-align: center;
	}
	.panel {
		border: 0;
		background-color: transparent;
		color: #F0F0F0;
	}
	.internal-title {
		font-size: 20px;
	}
	.back-search {
		color: orange;
		font-size: 20px;
	}
	.table-view {
		border: 0;
		
	}
	input, select {
		font-size: 20px;
	}
	.search-input {
		width: 70%;
	}
	.btn {
		margin: 2em auto;
		padding: 0.5em 2em;
		background-color: orange;
		color: black;
		font-weight: 700;
		font-size: 20px;
	}
}