<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head>
	<meta charset="UTF-8"/>
	<title>Cobrança</title>
	<link href="https://fonts.googleapis.com/css?family=Krona+One|Roboto:400,700,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar">
	<header class="nav-header">
		<h2>
			<i class="fa fa-file-invoice"></i>
		</h2>
		<h2 class="nav-title">Sistema de títulos</h2>
		</header>
	</nav>
	<section layout:fragment="conteudo">
		<p>Conteúdo principal</p>
	</section>
	<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="/js/style.js"></script>
</body>
</html>