<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
	<title>Pesquisa de títulos</title>
</head>
<section layout:fragment="conteudo">
	<div class="container-form">
		<div class="panel">
			<p class="internal-title">Pesquisa de títulos</p>
			<a class="back-search" href="/titulos/novo">Novo título</a>
		</div>
		<div class="container-search">
		<div class="search-box">
			<input class="search-input" type="text" placeholder="Qual título você está procurando?" id="search">
			<button type="submit" class="btn-2"><i class="fa fa-search"></i></button>
		</div>
		<div>
			<table class="table-view">
				<thead>
					<tr>
						<th class="table-title column-1">#</th>
						<th class="table-title column-2 table-left">Descrição</th>
						<th class="table-title column-3">Data de vencimento</th>
						<th class="table-title column-4 table-right">Valor</th>
						<th class="table-title column-5">Status</th>
						<th class="table-title column-6"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="titulo : ${titulos}">
						<td class="table-center" th:text="${titulo.codigo}">1</td>
						<td class="table-left" th:text="${titulo.descricao}"></td>
						<td class="table-center" th:text="${#dates.format(titulo.dataVencimento, 'dd/MM/yyyy')}"></td>
						<td class="table-right" th:text="|R$ ${#numbers.formatDecimal(titulo.valor, 0, 'POINT', 2, 'COMMA')}|"></td>
						<td class="table-center"><span th:text="${titulo.status.descricao}" th:classappend="${titulo.pendente ? 'label-red' : 'label-green'}"></span></td>
						<td class="table-center">
							<a class="edit" th:href="@{/titulos/{codigo}(codigo=${titulo.codigo})}"><i class="fa fa-pencil-alt"></i></a>
							<a class="remove" id="modalBtn" th:attr="data-codigo=${titulo.codigo}, data-descricao=${titulo.descricao}"><i class="fa fa-times"></i></a>
							<i class="fas fa-sync"></i>
						</td>
					</tr>
					<tr>
						<td class="no-data" th:if="${#lists.isEmpty(titulos)}">Nenhum título foi encontrado</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		<div>
			<button id="btn-teste">Open Modal</button>
			<div id="myModal" class="modal">
				<form action="/titulos" method="POST">
					<input type="hidden" name="_method" value="DELETE"/>
					<div class="modal-content">
						<div class="modal-title">
							<span class="modal-text">Tem certeza de que quer excluir?</span>
							<a class="modalClose"><span class="close">&times;</span></a>
						</div>
						<div class="modal-btn">
							<button class="modal-btn-no">Não</button>
							<button class="modal-btn-yes">Sim</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
</html>