<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="LayoutPadrao"/>
		
<head>
	<title>Cadastro de casas de show</title>
</head>
<section layout:fragment="conteudo">
<h1>Casas de show</h1>
	<form class="form-horizontal" method="POST" action="/casa" th:object="${casa}">
<!-- 	<form class="form-horizontal" method="POST" action="/estudo" th:object="${registro}"> -->
	
		<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}">Casa salva!</span>
		</div>
		
<!-- <!-- 		<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}"> -->
<!-- <!-- 			<div th:each="detailedError : ${#fields.detailedErrors())"> -->
<!-- <!-- 				<span th:text="${detailedError.message}"></span> -->
<!-- <!-- 			</div> -->
<!-- <!-- 		</div> --> 

  			<div class="panel-body">
				<div class="form-group row">
<!-- 				<div class="form-group row" th:field="*{descricao}" th:classappend="${#fields.hasErrors('descricao')} ? has-error"> -->
	    			<label for="nome" class="col-sm-2 col-form-label right">Casa de show</label>
	    			<div class="col-sm-4">
						<input type="text" class="form-control" id="nome" name="nome"/>
					</div>
				</div>
				
				<div class="form-group row">
<!-- 				<div class="form-group row" th:field="*{recursos}" th:classappend="${#fields.hasErrors('recursos')} ? has-error"> -->
	    			<label for="endereco" class="col-sm-2 col-form-label right">Endereço</label>
	    			<div class="col-sm-6">
						<input type="text" class="form-control" id="endereco" name="endereco"/>
					</div>
				</div>
				
				<div class="form-group">
	    			<div class="col-sm-2 offset-sm-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
				
			</div>
	</form>
	
		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr> 
						<th class="text-center col-md-1">#</th>
						<th class="col-md-3">Nome</th>
						<th class="col-md-3">Endereço</th>
						<th class="text-center col-md-1">Editar</th>
						<th class="text-center col-md-1">Deletar</th>
					</tr>
				</thead>
				<tbody>
					<tr>
<!-- 					<tr th:each="casa : ${casas}"> -->
						<td class="text-center">1</td>
<!-- 						<td class="text-center" th:text="${casa.id}">1</td> -->
						<td>Casa 1</td>
<!-- 						<td th:text="${casa.nome}"></td> -->
						<td>Rua tal, numero tal</td>
<!-- 						<td th:text="${casa.endereco}"></td> -->
 						<td class="text-center icons"><a class="edit tooltip"><i class="fa fa-pencil-alt"></i><span class="tooltiptext">Editar</span></a></td>
 						<td class="text-center icons"><a class="remove tooltip"><i class="fa fa-times"></i><span class="tooltiptext">Excluir</span></a></td>
					</tr>
					<tr>
						<td colspan="5">Nenhuma casa foi encontrada</td>
<!-- 						<td colspan="5" th:if="${#lists.isEmpty(eventos)}">Nenhum registro foi encontrado</td> -->
					</tr>
				</tbody>
			</table>
		</div>
</section>
</html>