<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="LayoutPadrao"/>
		
<head>
	<title>Cadastro de casas de show</title>
</head>
<section layout:fragment="conteudo">
<h1>Casas de show</h1>

	<form class="form-horizontal" method="POST" action="/casa" th:object="${casa}">
<!--<form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post"> -->
<!-- 	  	<input type="hidden" th:field="*{id}"/> -->
<!-- 		<div layout:include="Mensagem"></div> -->
		<div class="alert alert-success aviso-central" th:if="${!#strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}">Casa salva!</span>
		</div>
		
<!-- 		<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}"> -->
<!-- 			<div th:each="detailedError : ${#fields.detailedErrors())"> -->
<!-- 				<span th:text="${detailedError.message}"></span> -->
<!-- 			</div> -->
<!-- 		</div> -->

  			<div class="panel-body">
  			
				<div class="form-group row">
<!--  				<div class="form-group row" th:field="*{nome}" th:classappend="${#fields.hasErrors('nome')} ? has-error"> -->
	    			<label for="nome" class="col-sm-2 col-form-label right">Casa de show</label>
	    			<div class="col-sm-4">
						<input type="text" class="form-control" id="nome" name="nome"/>
					</div>
				</div>
				
				<div class="form-group row">
<!-- 				<div class="form-group row" th:field="*{endereco}" th:classappend="${#fields.hasErrors('endereco')} ? has-error"> -->
	    			<label for="endereco" class="col-sm-2 col-form-label right">Endereço</label>
	    			<div class="col-sm-6">
						<input type="text" class="form-control" id="endereco" name="endereco"/>
					</div>
				</div>
				
				<div class="form-group">
	    			<div class="col-sm-2 offset-sm-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
				
			</div>
	</form>
	
		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr> 
						<th class="text-center col-md-1">#</th>
						<th class="col-md-3">Nome</th>
						<th class="col-md-3">Endereço</th>
						<th class="text-center col-md-1">Editar</th>
						<th class="text-center col-md-1">Excluir</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="casa : ${casas}">
						<td class="text-center" th:text="${casa.id}">1</td>
						<td th:text="${casa.nome}"></td>
						<td th:text="${casa.endereco}"></td>
 						<td class="text-center icons">
							<a class="btn btn-link btn-xs" th:href="@{/casa/{codigo}(codigo=${casa.id})}"><i class="fa fa-pencil-alt"></i></a>
<!--  					<a class="edit"><i class="fa fa-pencil-alt"></i></a> -->
 						</td>
 						<td class="text-center icons">
 							<a class="remove" data-toggle="modal" data-target="#exampleModalCenter" th:attr="data-id=${casa.id}, data-nome=${casa.nome}" th:href="@{/casa/excluir/{id}(id=${casa.id})}"><i class="fa fa-times"></i></a>
<!--  					<a class="remove" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-times"></i></a></td> --> 							
					</tr>
					
					<tr>
						<td colspan="5" th:if="${#lists.isEmpty(casas)}">Nenhuma casa foi encontrada</td>
					</tr>
				</tbody>
				
			</table>
		</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Exclusão</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Tem certeza de que quer excluir esta linha?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Excluir</button>
      </div>
    </div>
  </div>
</div>
</section>
</html>