<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="LayoutPadrao"/>
		
<head>
	<title>Cadastro de eventos</title>
</head>
<section layout:fragment="conteudo">
<h1>Evento</h1>

	<form class="form-horizontal" method="POST" action="/evento" th:object="${evento}">
	  	<input type="hidden" th:field="*{id}" />
		<div class="alert alert-success aviso-central" th:if="${!#strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}">Evento salvo!</span>
		</div>
		
		<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
			<div th:each="detailedError : ${#fields.detailedErrors())">
				<span th:text="${detailedError.message}"></span>
			</div>
		</div>

  			<div class="panel-body">
<!-- 				<div class="form-group row"> -->
				<div class="form-group row" th:field="*{nome}" th:classappend="${#fields.hasErrors('nome')} ? has-error">
	    			<label for="nome" class="col-sm-2 col-form-label right">Evento</label>
	    			<div class="col-sm-4">
						<input type="text" class="form-control" id="nome" name="nome" th:field="*{nome}"/>
					</div>
				</div>
				
<!-- 				<div class="form-group row"> -->
				<div class="form-group row" th:field="*{capacidade}" th:classappend="${#fields.hasErrors('capacidade')} ? has-error">
	    			<label for="capacidade" class="col-sm-2 col-form-label right">Capacidade</label>
	    			<div class="col-sm-2">
						<input type="number" class="form-control" id="capacidade" name="capacidade" th:field="*{capacidade}"/>
					</div>
				</div>

<!-- 				<div class="form-group row"> -->
				<div class="form-group row" th:field="*{data}" th:classappend="${#fields.hasErrors('data')} ? has-error">
	    			<label for="data" class="col-sm-2 col-form-label right">Data</label>
	    			<div class="col-sm-2">
						<input type="date" class="form-control" id="data" name="data" th:field="*{data}"/>
					</div>
				</div>
				
<!-- 				<div class="form-group row"> -->
				<div class="form-group row" th:field="*{precoIngresso}" th:classappend="${#fields.hasErrors('precoIngresso')} ? has-error">
	    			<label for="precoIngresso" class="col-sm-2 col-form-label right">Preço do ingresso</label>
	    			<div class="col-sm-2">
						<input type="number" class="form-control" id="precoIngresso" name="precoIngresso" th:field="*{precoIngresso}"/>
					</div>
				</div>
								
				<div class="form-group"> 
					<div class="col-sm-2 offset-sm-2 col-sm-2">
						<select class="form-control" name="casa" th:field="*{casa}">
  							<option th:each="casa : ${todasCasaOpcoes}" th:value="${casa}" th:text="#{${casa}}"></option>
						</select>
<!-- 						<select class="form-control" name="casa"> -->
<!-- 							<option th:each="casa : ${todasCasaOpcoes}" th:value="${casa}" th:text="${casa.nome}" th:field="*{casa}"></option> -->
<!-- 						</select> -->
					</div>
				</div>

				<div class="form-group"> 
					<div class="col-sm-2 offset-sm-2 col-sm-2">
						<select class="form-control" name="genero">
							<option th:each="genero : ${todosGeneroOpcoes}" th:value="${genero}" th:text="${genero.estilo}" th:field="*{genero}"></option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
	    			<div class="col-sm-2 offset-sm-2 col-sm-10">
						<button type="submit" class="btn btn-primary btn-evento">Salvar</button>
					</div>
				</div>
				
			</div>
	</form>
	
		<div class="panel-body">
		
			<table class="table table-bordered table-striped">
			
				<thead>
					<tr> 
						<th class="text-center col-sm-1">#</th>
						<th class="col-sm-3">Nome</th>
						<th class="text-center col-sm-1">Capacidade</th>
						<th class="text-center col-sm-2">Preço do ingresso</th>
						<th class="col-sm-3">Casa de show</th>
						<th class="text-center col-sm-1">Editar</th>
						<th class="text-center col-sm-1">Excluir</th>
					</tr>
				</thead>
				
				<tbody>

					<tr th:each="evento : ${eventos}">
						<td class="text-center" th:text="${evento.id}">1</td>
						<td th:text="${evento.nome}"></td>
						<td th:text="${evento.capacidade}"></td>
						<td th:text="${evento.precoIngresso}"></td>
 						<td th:text="${evento.casa}"></td>
 						<td class="text-center icons">
							<a class="btn btn-link btn-xs" th:href="@{/evento/{codigo}(codigo=${evento.id})}"><i class="fa fa-pencil-alt"></i></a>
 						</td>
 						<td class="text-center icons">
 							<a class="remove" data-toggle="modal" data-target="#ModalExclusao" th:attr="data-id=${evento.id}, data-nome=${evento.nome}" th:href="@{/evento/excluir/{id}(id=${evento.id})}"><i class="fa fa-times"></i></a>			
 						</td>
					</tr>
					
					<tr>
						<td colspan="5" th:if="${#lists.isEmpty(eventos)}">Nenhum evento foi encontrado</td>
					</tr>
					
				</tbody>
				
			</table>
			
		</div>
		
<div class="modal fade" id="ModalExclusao" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Exclusão de registro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Tem certeza de que quer excluir esta linha?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Excluir</button>
      </div>
    </div>
  </div>
</div>
		
</section>
</html>