<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao" />

<head>
<title>Gerenciador de eventos</title>
</head>

<section layout:fragment="conteudo">

	<h1>Gerenciador de eventos</h1>

  	<div class="alert alert-info text-center" th:if="${#lists.isEmpty(eventos)}">
		<h4>Não existem shows cadastrados!</h4>
	</div>
		
	<div class="cards-eventos">

		<div class="card mb-3 card-item" th:each="evento : ${eventos}">
			<div class="row">
				<div class="col-md-4">
					<img class="card-img"
						th:attr="src=@{/img/{foto}.jpg(foto=${evento.nome})}">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title" th:text="${evento.nome}"></h5>
						<h6 class="card-text"
							th:text="|Preço do ingresso: R$ ${evento.precoIngresso}|"></h6>
						<h6 class="card-text" th:text="|Data: ${evento.data}|"></h6>
						<h6 class="card-text" th:text="|Local: ${evento.casa.nome}|"></h6>
						<h6 class="card-text"
							th:text="|Ingressos restantes: ${evento.capacidade}|"></h6>
						<button type="submit" class="btn btn-primary btn-card">Comprar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</html>